<div ng-controller="HomeCtrl">
<h2 class="main_heading">User Form</h2>
	<form name="loginform" class="login_form">
  		<div class="form-group">
    		<label>Full Name</label>
    		<input type="name" class="form-control" placeholder="Name" ng-model="data.fullName" ng-blur="onKeyPress('Name', data.fullName)">
  		</div>
  		<div class="form-group">
    		<label>Username</label>
    		<input name="userName" type="username" class="form-control" placeholder="Username" ng-model="data.username" required ng-minlength="6" ng-maxlength="20">
  		</div>
  		<div ng-messages="loginform.userName.$error" style="color:maroon" role="alert">
		    <div ng-message="minlength">Your user name is too short. Min Length 6.</div>
		    <div ng-message="maxlength">Your user name is too long. Max Length 20.</div>
	  	</div>
  		<div class="form-group">
    		<label>Email address</label>
    		<input type="email" name="email" class="form-control" placeholder="Email" ng-model="data.email"  required="true">
  		</div>
  		<div ng-messages="loginform.email.$error" role="alert">
		    <div ng-message="email">Please enter a valid email address.</div>
	  	</div>
  		<div class="form-group">
		    <label>Password</label>
		    <input type="password" name="password" class="form-control" ng-pattern="/^[A-Za-z0-9]*$/" placeholder="Password" ng-model="data.password"  required="true" ng-minlength="6" ng-maxlength="15">

  		</div>
  		<ng-password-meter password="loginform.password.$viewValue"></ng-password-meter>
  		<div ng-messages="loginform.password.$error" role="alert">
        <div ng-message="minlength">Your password is too short. Min Length 6.</div>
		    <div ng-message="password">Your password is too short. Min Length 6.</div>
	  	</div>
 		<button type="submit" class="btn btn-default" ng-class="submitBtnClass(loginform.$invalid)" ng-disabled="loginform.$invalid" ng-click="onSubmit(data)" ng-bind="submitButton"></button>
	</form>
     <br>
     <br>
	<div class="table-responsive">
		<table class="table table-bordered">
			<tr>
				<th>S.No</th>
				<th>Full Name</th>
				<th>Username</th>
				<th>Email</th>
            </tr>
            <tr ng-repeat="listData in userDataList">
            	<td>{{listData.sNo}}</td>
            	<td>{{listData.fullName}}</td>
            	<td>{{listData.username}}</td>
            	<td>{{listData.email}}</td>
            </tr>
		</table>
	</div>
</div>